$time: 500ms;
$delay: $time/2;
$mode: cubic-bezier(0.17, 0.67, 0.55, 1.43);
$bodyBG: #f2f3f7;
$whiteSecctionSize: 3em 1.5em 3em 1.5em;
$primary-color: #222222;
$secondary-color: #ff8b00;
$text-color: #fff;
$text-color-two: black;
$font-family-one: Quicksand, Arial, sans-serif;
$font-family-two: Playfair Display, Georgia, serif;
$font-weight: (
  "regular": 300,
  "medium": 400,
  "bolded": 500,
  "max": 700,
);
