* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .presentation-container .img-banner .arrows {
    right: 43%;
  }
  .icon-1,
.icon-2,
.icon-3 {
    position: absolute;
    left: 20%;
    top: 50%;
    width: 35px;
    height: 2px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
  }
  .icon-1 {
    transform: translateY(-10px);
    -webkit-animation-delay: 100ms;
            animation-delay: 100ms;
  }
  .icon-3 {
    transform: translateY(10px);
    -webkit-animation-delay: 250ms;
            animation-delay: 250ms;
  }
  .hamburger-icon {
    display: block;
    position: absolute;
    height: 60px;
    width: 60px;
    top: 5px;
    left: 15px;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.247);
  }
  .icon-1.a {
    background-color: #ff8b00;
    transform: rotate(40deg);
  }
  .icon-3.b {
    transform: rotate(-40deg);
    background-color: #ff8b00;
  }
  .icon-2.c {
    opacity: 0;
  }
  .general-div .section-containers {
    width: calc(100% - 0px);
    float: right;
    transition: 0.5s;
  }
  .general-div #aside-id {
    width: 0%;
    z-index: 10;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.62, 0.04, 0.3, 1.56);
    transition-delay: 100ms;
  }
  .general-div #aside-id.show {
    width: 100%;
    opacity: 1;
  }
  .about-container {
    padding: 3em 2em 3em 2em;
  }
  .skills-container {
    padding: 1em 1.5em 1em 1.5em;
    height: auto;
    background-color: #222222;
  }
  .skills-container .leyenda {
    line-height: 36px;
    margin-left: 2.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  .educ-container {
    background-color: #fff;
    padding: 3em 2em 3em 2em;
    height: auto;
  }
  .inf::after {
    content: "+";
    position: absolute;
    right: 48px;
    font-size: 24px;
    line-height: 1;
    margin-top: 1px;
    color: #ff8b00;
  }
  .skills-container ul {
    padding: 0px;
  }
  .skills-container li {
    margin: 0.5em 0 0.5em 0;
  }
  .contact .inner-icon {
    width: 60px;
    height: 60px;
  }
  .socials .icon-container {
    margin-left: 1em;
  }
  .group {
    font-size: 13px;
  }
  .experience-container .art {
    background-color: white;
    margin-top: 2em;
    margin-left: 2.5em;
    margin-right: 0px;
    padding: 1.5em;
    position: relative;
  }
  .experience-container article::before {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    background: white;
    top: 11em;
    bottom: 55px;
    margin-right: 24px;
    margin-left: 0px;
  }
  .experience-container .pencil {
    display: block;
    width: 30px;
    height: 30px;
    background: #222222;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 0 5px #ff8b00;
    line-height: 40px;
    float: left;
    position: absolute;
    left: 10px;
    z-index: 1;
    margin-left: 0px;
  }
  .experience-container .pencil i {
    display: none;
    color: white;
    text-align: center;
  }
  .experience-container .lastcicle {
    z-index: 1;
    display: block;
    position: absolute;
    left: 10px;
    bottom: 26px;
  }
  .experience-container .date-span {
    float: none;
    opacity: 0.6;
    font-size: 16px;
    display: block;
    text-align: left;
  }
  .general-contact {
    flex-direction: initial;
  }
  .contact p {
    color: #fff;
    text-align: center;
    line-height: 22px;
    vertical-align: baseline;
    word-spacing: 0px;
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
  .contact .socials {
    margin-top: 2em;
    margin-right: 0em;
    display: flex;
    justify-content: space-evenly;
  }
}/*# sourceMappingURL=small.css.map */